In [2]:
import numpy as np
from numpy import random
import pandas as pd

In [200]:
list_recompenses = [["Cadre velo",0,600],["Bouquet de fleurs",0,20],["Livre victoire",0,10],["Pantalon",0,15],["Chemise blanche",0,15],["Tri fonction",0,150]]

In [201]:
list_recompenses

[['Cadre velo', 0, 600],
 ['Bouquet de fleurs', 0, 20],
 ['Livre victoire', 0, 10],
 ['Pantalon', 0, 15],
 ['Chemise blanche', 0, 15],
 ['Tri fonction', 0, 150]]

In [202]:
recompenses = pd.DataFrame(list_recompenses, columns=["recompense","déjà acquis","montant à atteindre"])

In [203]:
recompenses

          recompense  déjà acquis  montant à atteindre
0         Cadre velo            0                  600
1  Bouquet de fleurs            0                   20
2     Livre victoire            0                   10
3           Pantalon            0                   15
4    Chemise blanche            0                   15
5       Tri fonction            0                  150

In [204]:
recompenses.to_csv("./data/.csv",index=False)

In [44]:
df_recompenses = pd.read_csv("./data/rewards.csv",index_col=0)

In [41]:
df_recompenses.insert(2,"pourcentage",0)

In [45]:
df_recompenses

                   already  price  pourcentage
reward
Cadre velo            0.77    600            0
Bouquet de fleurs     0.00     20            0
Livre victoire        0.00     10            0
Pantalon              0.00     15            0
Chemise blanche       0.00     15            0
Tri fonction          0.04    150            0

In [92]:
l_recompenses = recompenses.index.values.tolist()

In [191]:
a = random.normal(0,1)

test = []
if a <-1 :
    print("test random")
elif -1<a<=0:
    print("pas de recompense")
else:
    print("recompense random")
    b = random.choice(l_recompenses)
    print(f"{b} : +{round(a,2)}€")
    df_recompenses.loc[b,"déjà acquis"]=round(a,2)

df_recompenses

recompense random
Livre victoire : +2.38€

                   déjà acquis  montant à atteindre
recompense
Cadre velo                0.07                  600
Bouquet de fleurs         0.69                   20
Livre victoire            2.38                   10
Pantalon                  0.34                   15
Chemise blanche           0.11                   15
Tri fonction              0.87                  150

In [43]:
df_recompenses.to_csv("./data/rewards.csv")

In [30]:
list_actions=["running","cycling","swimming","java","python","No screen after 10pm","good day at work"]

In [31]:
pd.DataFrame(list_actions,columns=["activities"]).to_csv("./data/activities.csv",index=False)

In [32]:
df_activities=pd.read_csv("./data/activities.csv")

In [28]:
a=input()

if a.lower() in df_activities.loc[:,'activities'].tolist():
    print("OK")

Running
OK

In [33]:
df_activities.loc[:,'activities'].tolist()

['running',
 'cycling',
 'swimming',
 'java',
 'python',
 'No screen after 10pm',
 'good day at work']

In [8]:
import pandas as pd
rewards=pd.read_csv("./data/rewards.csv")

In [24]:
#rewards.at[0,"reward"]="bottom bracket gravel"
rewards.at[0,"price"]=250

In [28]:
rewards.drop(labels="bottom bracket gravel",axis=1,inplace=True)

In [30]:
rewards.to_csv("./data/rewards.csv",index=False)