In [6]:
import numpy as np
from numpy import random
import pandas as pd

In [194]:
list_recompenses = [["Cadre velo",0,600],["Bouquet de fleurs",0,20],["Livre victoire",0,10],["Pantalon",0,15],["Chemise blanche",0,15],["Tri fonction",0,150]]

In [195]:
list_recompenses

[['Cadre velo', 0, 600],
 ['Bouquet de fleurs', 0, 20],
 ['Livre victoire', 0, 10],
 ['Pantalon', 0, 15],
 ['Chemise blanche', 0, 15],
 ['Tri fonction', 0, 150]]

In [196]:
recompenses = pd.DataFrame(list_recompenses, columns=["recompense","déjà acquis","montant à atteindre"])

In [197]:
recompenses

          recompense  déjà acquis  montant à atteindre
0         Cadre velo            0                  600
1  Bouquet de fleurs            0                   20
2     Livre victoire            0                   10
3           Pantalon            0                   15
4    Chemise blanche            0                   15
5       Tri fonction            0                  150

In [198]:
recompenses.to_csv("./data/recompenses.csv",index=False)

In [90]:
df_recompenses = pd.read_csv("./data/recompenses.csv",index_col=0)

In [91]:
df_recompenses

                   déjà acquis  montant à atteindre
recompense
Cadre velo                   0                  600
Bouquet de fleurs            0                   20
Livre victoire               0                   10
Pantalon                     0                   15
Chemise blanche              0                   15
Tri fonction                 0                  150

In [92]:
l_recompenses = recompenses.index.values.tolist()

In [191]:
a = random.normal(0,1)

test = []
if a <-1 :
    print("test random")
elif -1<a<=0:
    print("pas de recompense")
else:
    print("recompense random")
    b = random.choice(l_recompenses)
    print(f"{b} : +{round(a,2)}€")
    df_recompenses.loc[b,"déjà acquis"]=round(a,2)

df_recompenses

recompense random
Livre victoire : +2.38€

                   déjà acquis  montant à atteindre
recompense
Cadre velo                0.07                  600
Bouquet de fleurs         0.69                   20
Livre victoire            2.38                   10
Pantalon                  0.34                   15
Chemise blanche           0.11                   15
Tri fonction              0.87                  150

In [193]:
df_recompenses.to_csv("./data/recompenses.csv")